/* BASE */

*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Arial, sans-serif;
  background: #0F0F0F;
  color: #D9D9D9;
}

/* NAVBAR */

.navbar{
  min-height: 77px;
}

.navbar-brand{
  font-weight: 700;
  font-size: 22px;
  text-transform: lowercase;
}

.navbar-brand span{
  margin-right: 4px;
}

.nav-logo{
  height: 32px;
  width: auto;
  display: block;
}

.navbar-brand .plus{
  color: #61E786;
}

.nav-link{
  color: rgba(217,217,217,0.7) !important;
  font-size: 14px;
  text-transform: lowercase;
}

.nav-link:hover{
  color: #FFFFFF !important;
}

/* BUTTONS */

.btn-success{
  background: #61E786 !important;
  border-color: #61E786 !important;
  color: #0F0F0F !important;
  border-radius: 999px;
  padding: 14px 32px;
}

.btn-success:hover{
  filter: brightness(0.95);
}

.btn-outline-light{
  border-radius: 999px;
  padding: 14px 32px;
}

/* FOOTER  */

.footer{
  background: #0F0F0F;
  padding: 32px 0;
  color: #D9D9D9;
}

.footer-label{
  color: #EDEDED;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 31.039px;
  font-weight: 300;
  line-height: normal;
}

.footer-left .d-flex{
  margin-top: 22px;
}

.social{
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background: #1B1B1B;
  color: #D9D9D9;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.social i{
  font-size: 35px;
  line-height: 1;
}

.social:hover{
  filter: brightness(1.1);
  color: #D9D9D9;
}

.footer-mid{
  font-size: 14px;
  color: #EDEDED;
  opacity: 0.5;
}

.footer-right{
  display: flex;
  align-items: center;
}

.footer-logo{
  width: 195.218px;
  height: 165.222px;
  object-fit: contain;
  display: block;
}

/* RESPONSIVE */

@media (max-width: 768px){
  .footer-label{
    font-size: 22px;
  }

  .social{
    width: 56px;
    height: 56px;
  }

  .social i{
    font-size: 30px;
  }

  .footer-logo{
    width: 150px;
    height: auto;
  }
}

